/* Altimetry Visualization Tool Page-Specific Extra Stylesheet */
/* CU Colors [ Black:#000000, Gold:#CFB87C, Dark Gray:#565A5C, Light Gray:#A2A4A3 ] */

/* Mapping Things */
#map-container {
    text-align: left;
    width:100%;
    margin: 0;
    padding: 0;
}

#chart-container {
    text-align: center;
    display: none;
    width: 725px;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 80px;
    left: 15px;
    z-index: 3;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    border: 2px solid #E0E0E0;
}

#chart-container h2 { font-size: 12pt; }
#about-container, #contact-container { min-height: 65vh; }

#chart-topbar {
    background-color: #E0E0E0;
    margin: 0;
    padding: 2px 0;
    font-size: 10pt;
    font-weight: bold;
    cursor: all-scroll;
}

div.popup-msg {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    z-index: 0;
    padding: 20px;
    display: block;
    font-size: 14pt;
    text-align: center;
    opacity: 0;
}
.success-msg { background-color: #DFF2BF; color: #4F8A10; border: 1px solid #4F8A10; }
.error-msg { background-color: #FFBABA; color: #D8000C; border: 1px solid #D8000C; }

/* Style Areas */
#map-area { width: 100%; padding: 0; margin: 0 auto; text-align: center; }

#chart-area {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFFFFF;
    display: inline-block;
}

#resize-triangle {
    border-left: 10px solid transparent;
    border-right: 10px solid #E0E0E0;
    border-top: 10px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: nwse-resize;
}

/* Style Map Click */
#map-search {
    width: 230px;
    padding: 19px;
    position: absolute;
	top: 10px;
	right: 50px;
	margin: 0;
    margin-left:-135px;
    text-align: left;
    vertical-align: top;
    background-color: #F6F6F6;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    display: none;
    z-index: 2;
}

#map-search-exit {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24pt;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #505050;
    cursor: pointer;
}

#map-search-exit:hover { color: #000000; }

/* Style Map and Colorbar */
#map-and-cbar {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 0;
    text-align: left;
}

#map-div {
    width: 100%;
    height: calc( 100vh - 115px );;
    padding: 0;
    margin: 0;
    display: block;
}

#map-solution-label {
    position: absolute;
    top: 0;
    width: 140px;
    left: 50%;
    margin-left: -70px;
    border: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1;
    background-color: #FAFAFA;
}

#map-solution-label h2 {
    color: #000000;
}

#map-meta {
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    display: block;
    float: left;
    border: 0 solid #DDDDDD;
}

#map-meta-2 { display: none; }

/* Style Map Form: */
#map-toggler {
    height: 70px; width: 133px; margin: 0; padding: 0; padding-left: 5px;
    line-height: 20px; display: block; text-align: left; float: left;
}

#map-cbar-container {
    margin: 0;
    padding: 0 5px;
    width: 65px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top-right-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    z-index: 2;
}

#map-cbar { height: 620px; width: 70px; }

#cbar-max-set { color: #565A5C; }
#GetTimeseries { text-align: center; line-height: 22px; }
#click-location p { padding: 0; margin: 8px 0; text-align: justify; }
.click-latlon-div { text-align: left; font-weight: bold; display: inline-block; width: 90px; }
.click-latlonfield-div { font-weight: bold; display: inline-block; width: 140px; text-align: right; }
#click-lat, #click-lon { color: #0000CD; width: 130px; }
#CRIfilter { width: 100%; text-align: center; }
img#coast-tip { height: 16px; width: 16px; display: inline-block; padding-top: 2px; vertical-align: top;}

.mapboxgl-ctrl-attrib { background-color: rgba(255,255,255,0.8)!important; }

/* Style Graphing Area */
#chart-options{
	width: 100px;
    margin: 5px;
    padding: 4px;
    text-align: center;
    font-size: 10pt;
    vertical-align: top;
    display: inline-block;
    border: 1px solid #E0E0E0;
}
#chart-options div.hline { margin: 5px 0; }
#timeseries {
	width: 600px;
    height: 435px;
    padding: 0;
    margin: 5px 5px 5px 0;
    border: 0;
    text-align: center;
    vertical-align: top;
	background-color: #FFFFFF;
    display: inline-block;
    position: relative;
}
#LS-params {
    width: 100%;
    border: 0 solid #DDDDDD;
    border-bottom-width: 1px;
    padding: 0;
    line-height: 20px;
    background-color: #FFFFFF;
    text-align: center;
    display: block;
    font-size: 10pt;
    float: left;
}
#data-timeseries {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    display: block;
    float: left;
}
#data-navbar {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: block;
    float: left;
}

#svgdataurl, #pngdataurl { display: none; }
.axis path, .axis line{ fill: none; stroke: black; }
.line { fill: none; stroke: blue; stroke-width: 2px; }
.tick text { font-size: 12px; }
.tick line{ opacity: 0.2; }

/* Plot Resize Brush */
.viewport { stroke: #162252; fill: #162252; fill-opacity: 0.2; }

.overlay { stroke-width: 0; fill-opacity: 0; }

.dashed { stroke-dasharray: "2"; }


#clm-toggler { display: none; width: 100%; }

div.tooltip {
    text-align: center;
    vertical-align: middle;
    width: 230px;
    padding: 2px 4px;
    font: 12px sans-serif;
    background: #DADAFA;
    border: 1px solid #162252;
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -66px;
    line-height: 14px;
}

.tooltip-info {
    margin: 0;
    padding: 0;
    text-align: left;
    display: inline-block;
}

#tooltip-info-0 { width: 120px; }
#tooltip-info-1 { width: 110px; }

.best-fit-title {
    margin: 0 10px 0 30px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    line-height: 20px;
    vertical-align: bottom;
    width: 150px;
}

.best-fit-param {
    text-align: left;
    color: #162252;
    display: none;
    line-height: 20px;
    vertical-align: bottom;
    margin: 0 30px 0 0;
    width: 100px;
}

.LS-altimetry { color: #377eb8; }
.LS-tidegauge { color: #d95f02; }

.resize path {
    fill: #666;
    fill-opacity: .8;
    stroke: #000;
    stroke-width: 1.5px;
}

.form-button {
    width: 100px;
    padding: 5px;
    text-align: center;
    border: 1px outset #DDDDDD;
    border-radius: 4px;
    margin: 4px 0 0;
    line-height: 16px;
    vertical-align: middle;
    background-color: #EEEEEE;
}

.form-button:hover { background-color: #FFFFFF; }

.form-button:active {
    background-color: #FFFFFF;
    border: 1px inset #DDDDDD;
}

.form-button img {
    height: 16px;
    vertical-align: bottom;
    margin-right: 5px;
}

#smooth-width { width: 64px; }
#set-smooth-width {
    width: 32px;
    border: 1px outset #DDDDDD;
    border-radius: 4px;
    margin: 0;
    margin-left: 2px;
    vertical-align: middle;
    background-color: #EEEEEE;
    display: inline-block;
    text-align: center;
}

/* About Page Settings */
#contact-fyi {
    width: 80%;
    max-width: 750px;
    display:block;
    margin: 0 auto 20px;
    padding: 20px;
}

.bio {
    width: 80%;
    max-width: 750px;
    min-height: 270px;
    margin: 0 auto 20px;
    padding: 19px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    background-color: #F6F6F6;
    display: block;
    text-align: left;
}

.bio h3 { font-size: 11pt; }

.bio-pic {
    width: 20%;
    height: auto;
    margin-right: 20px;
    display: block;
    float: left;
}

.bio-pic img { width: 100%; }

.bio-text {
    width: 70%;
    max-width: 550px;
    height: auto;
    display: block;
    float: left;
}

#newsletter-container {
    overflow: hidden;
    position: relative;
    width:100%;
    max-width: 1050px;
    height:1000px;
    margin: 0 0 -5px;
    padding: 0;
    display: block;
    text-align: center;
    background-color: #FFFFFF
}

#newsletter-iframe {
    position: absolute;
    top: -60px;
    left:10%;
    display: inline-block;
}

/* Map Style Toggler */
#map-search-show {
    background: #FAFAFA;
    position: absolute;
    z-index: 1;
    top: 110px;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 24px;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    cursor: pointer;
}

#map-search-show:hover { background: #F0F0F0; }
#map-search-show img{ width: 75%; display: inline; vertical-align: middle; }

#map-data-source {
    position: absolute;
    bottom: 20px;
    right: 0;
    height: 54px;
    line-height: 18px;
    background-color: rgba(255,255,255,0.8);
    font-size: 9pt;
    text-align: left;
    padding: 2px 2px 0 4px;
    z-index: 1;
}

#map-style-menu {
    background: #FAFAFA;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    width: 100px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}

#map-style-menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 3px 0;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#map-style-menu a:last-child {
    border: none;
}

#map-style-menu a:hover {
    background-color: #F8F8F8;
    color: #404040;
}

#map-style-menu a.data-active {
    background-color: #3887BE;
    color: #FAFAFA;
}

#map-style-menu a.data-active:hover {
    background: #3074A4;
}

div.map-colorbar {
    width: 100%;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    display: none;
}

div.cbar {
    height: 260px;
    width: 18px;
    margin: 13px 0;
    padding: 0;
    border: 0 solid #000000;
    border-width: 0 1px;
    display: inline-block;
}
div#cbar-trend {
    background: linear-gradient(to top, #67001f, #850c1e, #a3201d, #bd361c, #d2501d, #df6e22, #e88e30, #f0aa49, #f7c670, #fde1a6, #fafafa, #b7edf8, #91d8f8, #74bff9, #5ea6f9, #498dfa, #3172fa, #175be9, #114ac0, #0c3c94, #053061);
}
div#cbar-annual, div#cbar-rms {
    background: linear-gradient(to top, #fafafa, #fde1a6, #f7c670, #f0aa49, #e88e30, #df6e22, #d2501d, #bd361c, #a3201d, #850c1e, #67001f);
}

div.cbar-labels {
    width: 20px;
    margin: 0 auto 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

div.cbar-num {
    margin: 0;
    padding: 0;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    font-size: 10pt;
    text-align: center;
}

div.cbar-units {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

div#cbar-bounds {
    width: 200px;
    display:inline-block;
    vertical-align:middle;
    text-align: center;
    font-weight: bold;
    font-size: 11pt;
    border: 0;
    border-top-right-radius: 4px;
    padding: 4px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    bottom: 0;
    left: 75px;
    z-index: 2;
}
#colorbar-max-bounds {
    width: 80%;
    margin: auto 2px;
    display:inline-block;
    vertical-align:middle;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}


h2.about-toggle-header {
    margin: 20px 0 0;
    padding: 10px;
    border: 1px solid #E0E0E0;
    background-color: #FAFAFA;
    width: auto;
    line-height: 32px;
}
div.about-details {
    border: 1px solid #E0E0E0;
    border-top-width: 0;
    margin: 0;
    padding: 10px;
    display: none;
}
div.about-toggle-down {
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
    display: none;
    vertical-align: bottom;
    background-image: url('/grace/img/ic_arrow_drop_down_grey600_48dp.png');
    background-repeat: no-repeat;
    background-size: 32px;
    cursor: pointer;
}
div.about-toggle-up {
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    background-image: url('/grace/img/ic_arrow_drop_up_grey600_48dp.png');
    background-repeat: no-repeat;
    background-size: 32px;
    cursor: pointer;
}
div#about-grace-details { display: block; }
div#about-grace-toggle-up { display: none; }
div#about-grace-toggle-down { display: inline-block; }

/* Style Tige Gauge Popups */
 div.tide-gauge-popup {
     text-align: left;
     width: 160px;
     margin: -10px -10px -15px;
     padding: 10px;
     border: 3px solid #E0E0E0;
}

#show-tide-gauges {
    position: absolute;
    z-index: 2;
    top: 10px;
    font-size: 16pt;
    overflow: hidden;
    width: 140px;
    left: 50%;
    margin-left:-70px;
}

#show-tide-gauges a.button-inactive, #show-tide-gauges a.button-active {
    font-size: 13px;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.3);
    background-clip: padding-box;
    text-decoration: none;
    text-align: center;
}
#show-tide-gauges a.button-inactive { background-color: #FAFAFA; color: #333333; }
#show-tide-gauges a.button-active { background-color: #3887BE; color: #FAFAFA; }

.mapboxgl-popup-tip { border-top-color: #E0E0E0!important; border-bottom-color: #E0E0E0!important; }

/* Data Download Dialog */
div#download-dialog {
    position: fixed;
    overflow-y: scroll;
    top: 10%;
    left: 10%;
    width: 60%;
    max-height:60%;
    margin: 0;
    padding: 10%;
    z-index: 10000;
    display: none;
    background: #FFFFFF;
    text-align: left;
    box-shadow: 0 0 5px 1px #333333;
}

div#privacy-policy { width: 80%; margin: 0 auto; text-align: left; }

div#privacy-policy ol, div#privacy-policy ul {
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 16pt;
    font-size: 13pt;
}

#minimize-plot {
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    padding: 0;
    z-index: 1;
}

#maximize-plot {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    z-index: 1;
    display:none;
}

#minimize-plot-img, #maximize-plot-img {
    opacity: 0.5;
    height: 18px;
    width: 18px;
    border: 0;
}

#minimize-plot-img:hover, #maximize-plot-img:hover {
    opacity: 1;
    border-color: #000000;
}

@media screen and (max-width: 900px) {
    div#cbar-bounds { display: none; }
}

@media screen and (max-width: 760px ) {
    #chart-container {
        width: 485px;
    }
    #chart-container h2 { font-size: 10pt; }
    #save-button-text { display: none; }
    #download-button-text { display: none; }
    #save-button, #data-dialog-button { width: 28px; }
    #chart-options{
    	width: 85px;
        font-size: 8pt;
    }
    #chart-options div.left { margin: 5px 0; }
    #timeseries { width: 360px; height: 280px; }
    #LS-params { font-size: 8pt; }
    .best-fit-title, .best-fit-param { line-height: 15px; height: 15px; }
    .best-fit-title { margin: 0 5px 0 15px; }
    #data-timeseries { height: 180px; }
    #data-navbar { top: 240px; }

}

@media screen and (max-width: 500px ) {
    #chart-container {
        width: 100%;
        bottom: 50px;
        left: 0;
        top: auto;
        box-shadow: 0 0 0 0;
        border: 0;
    }
    #chart-container h2 { font-size: 7pt; }
    #chart-options{
    	width: 80px;
        font-size: 7pt;
    }
    #timeseries { width: calc( 100% - 105px); height: 290px; }
    .best-fit-title, .best-fit-param { line-height: 15px; height: 15px; }
    #data-timeseries { height: 190px; }
    .mapboxgl-ctrl-attrib { font-size: 7pt!important; }
    #map-data-source { font-size: 7pt!important; line-height: 12px; height: 36px; }
    .map-colorbar { padding: 0 0 2px!important; }
    #map-search { right: 50%; margin-right: -135px; z-index: 3; }
    #data-navbar { height: 40px; }
    #chart-topbar { display: none; }
    #resize-triangle { display: none; }
}

@media screen and (max-width: 450px ) {
    #timeseries { width: calc( 100% - 105px); height: 270px; }
    #data-timeseries { height: 170px; }
    #data-navbar { height: 40px; }
}

@media screen and (max-width: 400px ) {
    #timeseries { width: calc( 100% - 105px); height: 235px; }
    #data-timeseries { height: 145px; }
    #data-navbar { height: 30px; }
}

@media screen and (max-width: 350px ) {
    #timeseries { width: calc( 100% - 105px); height: 210px; }
    #data-timeseries { height: 125px; }
    #data-navbar { height: 25px; }
}
